/* Top nav bar */
.search-query {
    border-radius: 0 0 0 0;
    margin-top: 5px;
    margin-left: 0px;
}

/* Left nav bar */
nav {
    text-align: center;
}

/* Logo */
.logo * i {
    display: block;
    position: relative;

    font-size: 5em;

    color: rgb(160,0,0);
}
div.logo {
    background: rgb(245,245,245);
}
.logo a {
    padding: 4em 0 2em 0;
    display: block;
}
.logo a:hover i {
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);

    text-decoration: none;
}

/* Whole block */
.nav-item {
    display: block;
    position: relative;
}

/* Links */
a.nav-link {
    display: block;
    padding: .75em 0 .75em 0;

    color: rgb(220,220,220);
    background: rgb(40,40,40);

    border-style: solid none;
    border-width: 1px;
    border-color: rgb(46,46,46);
}
a.nav-link:hover {
    color: rgb(220,220,220);
    background: rgb(30, 30, 30);

    border-style: groove none;
    border-color: rgb(10,10,10);

    text-decoration: none;
}

/* Icon Links */
.side-link {
    top: .20em;
    right: .35em;

    position: absolute;
}
.side-icon {
    color: rgb(0,176,0);
    font-size: 1.45em;

    padding-bottom: -5px;
    border-radius: 10px;
}
.side-link .side-icon:hover {
    color: rgb(0,234,0);

    text-decoration: none;
}
