{% for nameserver in nameserver_set %}
@   IN  NS  {{ nameserver.server }}
{%- endfor %}

{% for mx in mx_set %}
$TTL {{ mx.ttl }}
{{ mx.label }} IN  MX   {{ mx.priority }}  {{ mx.server }}
{%- endfor %}

$TTL {{ default_ttl }}
{% for addr_rec in addressrecord_set %}
    {%- if addr_rec.ip.ip_type == '4' %}
{{ addr_rec.label|indent(0) }} IN  A   {{ addr_rec.ip }}
    {%- else %}
{{ addr_rec.label }} IN  AAAA   {{ addr_rec.ip }}
    {%- endif %}
{%- endfor %}

{% for cname in cname_set %}
{{ cname.label }} IN  CNAME {{ cname.data }}
{%- endfor %}

{% for srv in srv_set %}
{{ srv.label }} IN  SRV {{ srv.priority }} {{ srv.weight }} {{ srv.port }} {{ srv.target }}
{%- endfor %}

{% for txt in txt_set %}
{{ txt.label }} IN  TXT {{ txt.txt_data }}
{%- endfor %}
