*/*.pyc
*.pyc
*.swp
cyder_db
cyder/dist/*
cyder/build/
cyder/doc_build/
cyder/make.bat
cyder/Makefile
cyder/settings/local.py
cyder/settings/local*
local.py
cyder/settings/
cyder_db
cyder_db_test
cyder_db
cyder_db_test
cyder/settings/local*
cyder/settings/local.py
vendor/
vendor-local/
.coverage
cyder/maintain2cyder/*.cfg
cyder/maintain2cyder/build_dir/
cyder/maintain2cyder/sync_prod_to_test.py
