*/*.pyc
*.pyc
cyder/dist/*
cyer/build/
cyder/settings.py
cyer/doc_build/
cyer/make.bat
cyder/Makefile
cyder/settings/
cyder_db
cyder_db_test
vendor/
.coverage
cyder/maintain2cyder/*.cfg
cyder/maintain2cyder/build_dir/
cyder/maintain2cyder/sync_prod_to_test.py
