{% extends "cydns/cydns_detail.html" %}

{% block title %}
    {{ object.primary }}
{% endblock %}

{% block header %}
    SOA {{ object.primary }}
{% endblock %}

{% block soa_nav %}
    {{ super() }}

    {% include "cydns/detail_nav.inc" %}
{% endblock %}

{% block content %}

    {{ super() }}

    {% from "tables.html" import render_table %}

   {% if dom_matrix %}
        <h3> Domains </h3>
        {{ render_table(dom_headers, dom_matrix, dom_urls) }}
    {% endif %}

   {% if rdom_matrix %}
        <h3> Reverse Domains </h3>
        {{ render_table(rdom_headers, rdom_matrix, rdom_urls) }}
    {% endif %}

{% endblock %}
