{% extends "base.html" %}

{% block title %}
    {{ domain.name }}
{% endblock %}

{% block domain_nav %}
    <span class="active-nav">
        {{ super() }}
    </span>
    <span class="nav-item">
        <a class="sub-link nav-link" href="{{ domain.get_edit_url() }}">Edit {{ domain.name }}</a>
    </span>
    {% if not domain.delegated %}
        <span class="nav-item">
            <a class="sub-link nav-link" href="/cydns/cname/{{ domain.pk }}/create/">Create CNAME</a>
        </span>
        <span class="nav-item">
            <a class="sub-link nav-link" href="/cydns/mx/{{ domain.pk }}/create/">Create MX</a>
        </span>
        <span class="nav-item">
            <a class="sub-link nav-link" href="/cydns/srv/{{ domain.pk }}/create/">Create SRV</a>
        </span>
        <span class="nav-item">
            <a class="sub-link nav-link" href="/cydns/txt/{{ domain.pk }}/create/">Create TXT</a>
        </span>
        <span class="nav-item">
            <a class="sub-link nav-link" href="/cydns/address_record/{{ domain.pk }}/create/">Create Address Record</a>
        </span>
        <span class="nav-item">
            <a class="sub-link nav-link" href="/cydns/ptr/{{ domain.pk }}/create/">Create PTR</a>
        </span>
        <span class="nav-item">
            <a class="sub-link nav-link" href="/cydns/nameserver/{{ domain.pk }}/create/">Create NS</a>
        </span>
    {% endif %}
    <span class="nav-item">
        <a class="delete-link sub-link nav-link" href="{{ domain.get_delete_url() }}">Delete {{domain.name }}</a>
    </span>
{% endblock %}

{% block content %}
    {% from "tables.html" import render_table %}

    <h1>Domain {{ domain.name }}</h1>

    {% if domain.soa %}
        SOA: <a href='{{ domain.soa.get_absolute_url() }}'>{{ domain.soa.primary }}</a>
        <br/>
    {% endif %}

    {% if domain.master_domain %}
        Master Domain: <a href='{{ domain.master_domain.get_absolute_url() }}'>{{ domain.master_domain.name }}</a>
        <br/>
    {% endif %}

    {% if domain.delegated %}
        This domain is delegated.
        <br/>
    {% endif %}

    {% if ns_matrix %}
        <h3> Nameservers </h3>
        {{ render_table(ns_headers, ns_matrix, ns_urls) }}
    {% endif %}

    {% if address_matrix %}
        <h3> Address Records </h3>
        {{ render_table(address_headers, address_matrix, address_urls) }}
    {% endif %}

    {% if mx_matrix %}
        <h3> MX Records </h3>
        {{ render_table(mx_headers, mx_matrix, mx_urls) }}
    {% endif %}

    {% if srv_matrix %}
        <h3> SRV Records </h3>
        {{ render_table(srv_headers, srv_matrix, srv_urls) }}
    {% endif %}

    {% if txt_matrix %}
        <h3> TXT Records </h3>
        {{ render_table(txt_headers, txt_matrix, txt_urls) }}
    {% endif %}

    {% if cname_matrix %}
        <h3> CNAME Records </h3>
        {{ render_table(cname_headers, cname_matrix, cname_urls) }}
    {% endif %}

    {% if ptr_matrix %}
        <h3> PTR Records </h3>
        {{ render_table(ptr_headers, ptr_matrix, ptr_urls) }}
    {% endif %}
{% endblock %}
