<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html LANG="{{ LANG }}" dir="{{ DIR }}">

<head>
    <title>Cyder | {% block title %}Home{% endblock %}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="/media/css/sticky_footer.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/nav.css"/>
</head>

<body>
    <div class="wrap main container-fluid">

        <header>
            {% include "top_nav.html" %}
        </header>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="row-fluid">
            <nav class="span2">
                <div class="logo"><a href="/"><i class="icon-glass"></i></a></div>

                <!-- DNS NAV -->
                {% block dns_nav %}
                    {% block domain_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/cydns/domain/">Domains</a>
                        </span>
                    {% endblock %}

                    {% block address_record_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/cydns/address_record/">Address Records</a>
                        </span>
                    {% endblock %}

                    {% block reverse_domain_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/cydns/reverse_domain/">Reverse Domains</a>
                        </span>
                    {% endblock %}

                    {% block mx_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/cydns/mx/">MX</a>
                        </span>
                    {% endblock %}

                    {% block soa_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/cydns/soa/">SOA</a>
                        </span>
                    {% endblock %}

                    {% block nameserver_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/cydns/nameserver/">NS</a>
                        </span>
                    {% endblock %}

                    {% block reverse_nameserver_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/cydns/reverse_nameserver/">Reverse NS</a>
                        </span>
                    {% endblock %}

                    {% block srv_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/cydns/srv/">SRV</a>
                        </span>
                    {% endblock %}

                    {% block txt_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/cydns/txt/">TXT</a>
                        </span>
                    {% endblock %}

                    {% block cname_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/cydns/cname/">CNAME</a>
                        </span>
                    {% endblock %}

                    {% block ptr_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/cydns/ptr/">PTR</a>
                        </span>
                    {% endblock %}
                {% endblock %}

                {% block core_nav %}
                    {% block ctnr_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/ctnr/">Containers</a>
                        </span>
                    {% endblock %}

                    {% block user_nav %}
                        <span class="nav-item">
                            <a class="nav-link" href="/cyuser/">Users</a>
                        </span>
                    {% endblock %}
                {% endblock %}

                <a class="nav-link" href="/logout/">Logout</a>
            </nav>

            <div class="span10">
                <div class="content fluid-container">
                    <h1>{% block header %} {% endblock %}</h1>
                    <div class="action-bar">
                        {% block action_bar %} {% endblock %}
                    </div>
                    {% block content %} {% endblock %}
                </div>
            </div>

        </div>

    </div>

    <div id="footer" style="text-align:center;">
        <a href="http://github.com/uberj/cyder/">Cyder</a><br/>
        Sensible DNS and DHCP<br/>
        Replacement for OSU <a href="http://maintain.oregonstate.edu">MainPain</a> Network Manager<br/>
    </div>

    {% block site_js %}
        <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
    {% endblock %}

</body>
</html>
