<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html LANG="{{ LANG }}" dir="{{ DIR }}">

<head>
    <title>Cyder | {% block title %}Home{% endblock %}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="/media/css/sticky_footer.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/nav.css"/>
</head>

<body>
    <div class="wrap main container-fluid">

        <header>
            {% include "top_nav.html" %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </header>

        <div class="row-fluid">
            <nav class="span2">
                <div class="logo"><a href="/"><i class="icon-glass"></i></a></div>

                {% block domain_nav %}
                    <span class="nav-item">
                        <a class="nav-link" href="/cydns/domain/">Domains</a>
                        <a class="side-link" href="/cydns/domain/create/"><i class="side-icon icon-plus-sign"></i></a>
                    </span>
                {% endblock %}

                {% block reverse_domain_nav %}
                    <span class="nav-item">
                        <a class="nav-link" href="/cydns/reverse_domain/">Reverse Domains</a>
                        <a class="side-link" href="/cydns/reverse_domain/create/"><i class="side-icon icon-plus-sign"></i></a>
                    </span>

                    <a class="nav-link" href="/cydns/reverse_domain/bootstrap6/">Bootstrap v6</a>
                {% endblock %}

                {% block address_record_nav %}
                    <a class="nav-link" href="/cydns/address_record/create/">Create Address Record</a>
                {% endblock %}

                {% block mx_nav %}
                    <span class="nav-item">
                        <a class="nav-link" href="/cydns/mx/">MX</a>
                        <a class="side-link" href="/cydns/mx/create/"><i class="side-icon icon-plus-sign"></i></a>
                    </span>
                {% endblock %}

                {% block soa_nav %}
                    <span class="nav-item">
                        <a class="nav-link" href="/cydns/soa/">SOA</a>
                        <a class="side-link" href="/cydns/soa/create/"><i class="side-icon icon-plus-sign"></i></a>
                    </span>
                {% endblock %}

                {% block nameserver_nav %}
                    <span class="nav-item">
                        <a class="nav-link" href="/cydns/nameserver/">NS</a>
                        <a class="side-link" href="/cydns/nameserver/create/"><i class="side-icon icon-plus-sign"></i></a>
                    </span>
                {% endblock %}

                {% block reverse_nameserver_nav %}
                    <span class="nav-item">
                        <a class="nav-link" href="/cydns/reverse_nameserver/">Reverse NS</a>
                        <a class="side-link" href="/cydns/reverse_nameserver/create/"><i class="side-icon icon-plus-sign"></i></a>
                    </span>
                {% endblock %}

                {% block srv_nav %}
                    <span class="nav-item">
                        <a class="nav-link" href="/cydns/srv/">SRV</a>
                        <a class="side-link" href="/cydns/srv/create/"><i class="side-icon icon-plus-sign"></i></a>
                    </span>
                {% endblock %}

                {% block txt_nav %}
                    <span class="nav-item">
                        <a class="nav-link" href="/cydns/txt/">TXT</a>
                        <a class="side-link" href="/cydns/txt/create/"><i class="side-icon icon-plus-sign"></i></a>
                    </span>
                {% endblock %}

                {% block cname_nav %}
                    <span class="nav-item">
                        <a class="nav-link" href="/cydns/cname/">CNAME</a>
                        <a class="side-link" href="/cydns/cname/create/"><i class="side-icon icon-plus-sign"></i></a>
                    </span>
                {% endblock %}

                {% block ptr_nav %}
                    <span class="nav-item">
                        <a class="nav-link" href="/cydns/ptr/">PTR</a>
                        <a class="side-link" href="/cydns/ptr/create/"><i class="side-icon icon-plus-sign"></i></a>
                    </span>
                {% endblock %}

                <a class="nav-link" href="/logout/">Logout</a>
            </nav>

            <div class="span10">
                <div class="content fluid-container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>

    </div>

    <div id="footer" style="text-align:center;">
        Cyder Footer
    </div>

    {% block site_js %}
        <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
    {% endblock %}

</body>
</html>
