<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html LANG="{{ LANG }}" dir="{{ DIR }}">

<head>
    <title>Cyder | {% block title %}Home{% endblock %}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="/media/css/sticky_footer.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/nav.css"/>
</head>

<body>
    <div class="wrap main container-fluid">

        <header>
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <ul class="nav pull-left">
                            <input type="text" class="search-query" placeholder="Change container...">

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for ctnr in request.session.ctnrs %}
                                        <li><a href="#">{{ ctnr.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav pull-right">
                            <li><a href="#">{{ request.user }} on {{ request.session.ctnr.name }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        </header>

        <div class="row-fluid">
            <nav class="span2">
                {% include "nav.html" %}
            </nav>

            <div class="span10">
                <div class="content fluid-container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>

    </div>

    <div id="footer" style="text-align:center;">
        Cyder Footer
    </div>

    {% block site_js %}
        <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
    {% endblock %}

</body>
</html>
