{% extends "base.html" %}

{% block title %}
    {{ object }}
{% endblock %}

{% block header %}
    {{ object.__class__.__name__ }} {{ object }}
{% endblock %}

{% block content %}
    {% from "tables.html" import render_table %}

    <table class="table">
        <thead>
            {% for item, value in object.details() %}
                <th>{{ item }}</th>
            {% endfor %}
        </thead>

        <tbody>
            <tr>
            {% for item, value in object.details() %}
                <td>{{ value }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}
