<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-left">

                <!-- Container dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">{{ request.session.ctnr.name }}</a></li>
                        <li class="divider"></li>
                        {% for ctnr in request.session.ctnrs %}
                            {% if ctnr.name != request.session.ctnr.name %}
                                <li><a href="/ctnr/{{ ctnr.id }}/change/">{{ ctnr.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>

                <!-- Container changer search bar form-->
                <li>
                    <form action="/ctnr/change/" method="POST" style="display:inline">
                        <input class="search-query" type="text" name="ctnr_name" data-source='{{ request.session.ctnr_names_json }}' data-items="4" data-provide="typeahead" placeholder="Change container...">
                    </form>
                </li>

            </ul>

            <!-- DNS/DHCP nav links -->
            <ul class="nav">
                {% if 'cydns' in request.path %} <li class="active">
                {% else %} <li>
                {% endif %}
                    <a href="/cydns/">DNS</a></li>
                {% if 'cydhcp' in request.path %} <li class="active">
                {% else %} <li>
                {% endif %}
                    <a href="/cydhcp/">DHCP</a></li>
            </ul>

            <!-- User and container dropdown -->
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ request.user }} on {{ request.session.ctnr.name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cyuser/{{ request.user.id }}/">View user profile</a></li>
                        <li><a href="/ctnr/{{ request.session.ctnr.id }}/">View current container</a></li>

                        <li class="divider"></li>
                        {% if request.session.superuser %}
                            <li><a href="/admin/">Admin page</a></li>
                        {% endif %}
                        <li class="divider"></li>
                        <li><a href="/logout/">Logout</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>
